nav{
    padding: 30px;
    background-color: steelblue;
    text-align: center;
}

a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size:large;
    /*border: 1px solid white;*/
}
a:hover{
    color:black;
    background-color:lemonchiffon;
    border-radius: 0.25em;
    transition: 0.75s;
}