nav{
    padding: 30px;
    background-color: steelblue;
    text-align: center;
}

a{
    color: white;
    padding: 1em;
    text-decoration: none;
    font-size:large;
}
nav a:hover{
    color: black;
    background-color:lightgoldenrodyellow
}